:root {
    --red-primary: #e03127;
    --red-secondary: #8e201c;
    --black-primary: #212529;
    --black-secondary: #343a40;
    --grey-primary: #6c757d;
    --grey-secondary: #adb5bd;
    --grey-light: #f8f9fa;

    --bs-font-sans-serif: "Univerza Sans", system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-primary-rgb: 224,49,39;
}

html, body {
    min-height: 100vh;
}

footer {
    background-color: var(--black-primary) !important;
}

/*
    TIMELINE VIEW
*/

#date-picker-container {
    display: flex;
    align-items: center;
}

#date-picker-container label {
    margin-right: 10px;
    font-weight: 500;
    font-size: 0.9rem;
    color: white;
}

.reservation-form-container {
    transition: opacity 0.3s ease-in-out;
}

.reservation-form-container.loading {
    opacity: .5;
    pointer-events: none;
}

#timeline-container {
    width: 100%;
}
.vis-label, .vis-item.vis-range {
    font-size: .8rem;
}
.vis-item-overflow {
    display: flex;
    align-items: center;
}
.vis-item.vis-range {
    background-color: rgba(var(--bs-primary-rgb), 1);
    color: #222;
    cursor: pointer;
    border: none !important;
    border-radius: 0 !important;
}
.vis-item.vis-selected, .vis-item.vis-range:hover {
    filter: brightness(1.1);
}
.vis-group:hover, .vis-label {
    background-color: rgba(var(--bs-secondary-rgb), 0.1);
}

.vis-timeline {
    border: none !important;
}

/*
    DARK MODE FIXES
*/
[data-bs-theme="dark"] .vis-labelset .vis-label, 
[data-bs-theme="dark"] .vis-time-axis .vis-text {
    color: var(--bs-body-color);
}

.vis-foreground .vis-group,
.vis-time-axis .vis-grid.vis-minor,
.vis-labelset .vis-label {
    border-color: rgba(var(--bs-body-color-rgb), 0.15) !important;
}

.vis-panel.vis-center, 
.vis-panel.vis-left, 
.vis-panel.vis-right, 
.vis-panel.vis-top,
.vis-time-axis .vis-grid.vis-major {
    border-color: rgba(var(--bs-body-color-rgb), 0.4) !important;
}

.input-group .form-control {
    border-color: #f8f9fa;
}

[data-bs-theme="dark"] .navbar {
    --bs-body-color: #f8f9fa;
}

/*
    UNIVERZA SANS FONT
*/

@font-face {
    font-family: 'Univerza Sans';
    src: url('../fonts/unisans/UniverzaSans-Light.woff2') format('woff2'), url('../fonts/unisans/UniverzaSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Univerza Sans';
    src: url('../fonts/unisans/UniverzaSans-LightItalic.woff2') format('woff2'), url('../fonts/unisans/UniverzaSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: 'Univerza Sans';
    src: url('../fonts/unisans/UniverzaSans-Regular.woff2') format('woff2'), url('../fonts/unisans/UniverzaSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Univerza Sans';
    src: url('../fonts/unisans/UniverzaSans-RegularItalic.woff2') format('woff2'), url('../fonts/unisans/UniverzaSans-RegularItalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: 'Univerza Sans';
    src: url('../fonts/unisans/UniverzaSans-Medium.woff2') format('woff2'), url('../fonts/unisans/UniverzaSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Univerza Sans';
    src: url('../fonts/unisans/UniverzaSans-MediumItalic.woff2') format('woff2'), url('../fonts/unisans/UniverzaSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap
}
