{% extends 'reservations/base.html' %}
{% load static %}
{% load i18n %}
{% load django_tomselect %}

{% block title %}{% trans "Reservations Calendar" %}{% endblock %}

{% block nav_middle %}
<div class="gap-2" id="date-picker-container">
    <button class="btn btn-sm btn-outline-light" id="prev-date-btn">
        ⏴
    </button>
    <input type="date" class="form-control form-control-sm" id="calendar-date">
    <button class="btn btn-sm btn-outline-light" id="next-date-btn">
        ⏵
    </button>
</div>
{% endblock %}

{% block content %}
<!-- Timeline Container -->
<div id="timeline-container"></div>

<!-- Reservation Modal -->
<div class="modal fade" id="reservationModal" tabindex="-1" aria-labelledby="reservationModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">    
        <div id="reservationModalInside"></div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
window.RESERVABLE_SET_SLUG = "{{ reservable_set_slug }}"
window.RESERVABLE_TYPE_SLUG = "{{ reservable_type_slug }}"
window.IS_LOGGED_IN = {{ user.is_authenticated|lower }}
</script>
<script type="text/javascript" src="https://unpkg.com/vis-timeline@8.1.0/standalone/umd/vis-timeline-graph2d.min.js"></script>
<script src="{% static 'js/timeline.js' %}"></script>
{% tomselect_media css_framework="bootstrap5" %}
{% endblock %}
