{% load i18n %}

<p><a class="close-reveal-modal">&#215;</a></p>

{% if delete_form %}
    <form class="button-form" action="{{ request.get_full_path }}" method="POST" class="pull-right" data-abide>
        {% csrf_token %}
        <input type="hidden" name="{{ api_settings.FORM_METHOD_OVERRIDE }}" value="DELETE" />
        <button class="btn btn-danger js-tooltip" title="{% blocktrans %}Make a DELETE request on the {{ name }} resource{% endblocktrans %}">{% trans 'DELETE' %}</button>
    </form>
{% endif %}


{% if data_listlike and data|length > 0 %} 
 <div class='row'>
 	<div class="small-12 columns">
 		<div id="res-list">
 			<fieldset>
 			<legend>Obstoječe rezervacije v tem terminu</legend>
 		    <ul id=reservation-detail-list>
 		    	{% for i in data %}   		
 		        	<li><a href="{% url "reservation-detail" i.id %}" data-reveal-id="mySubModal" data-reveal-ajax="true">{{i.reason}}</a>: {{i.start}}-{{i.end}}</li>
 		    	{% endfor %}
 		    </ul>
 		    </fieldset>
 		</div>
 	</div>
 </div>
{% endif %}

<div class='row'>
	<div class="small-12 columns">	           
         {% block description %}
         	{{ description }}
         {% endblock %}

         {% if display_edit_forms %}       
             {% if post_form %}
	             {% with form=post_form %}
	             <form id='post_form' action="{{ request.get_full_path }}" method="POST" enctype="multipart/form-data" class='custom' data-abide>
	                 <fieldset>
	                     <legend>Nova rezervacija</legend>
	                     {{ post_form }}
                         <button title="{% blocktrans %}Make a POST request on the {{ name }} resource{% endblocktrans %}">{% trans 'POST' %}</button>
	                 </fieldset>            
	             </form>
	             {% endwith %}                
             {% endif %}
             

             {% if put_form %}
             
                     <div class="tab-pane" id="object-form">
                         <form action="{{ request.get_full_path }}" method="POST" enctype="multipart/form-data" class="form-horizontal" data-abide>
                             <fieldset>
                                 {{ put_form }}
                                 <div class="form-actions">
                                     <button class="btn btn-primary js-tooltip" name="{{ api_settings.FORM_METHOD_OVERRIDE }}" value="PUT" title="{% blocktrans %}Make a PUT request on the {{ name }} resource{% endblocktrans %}">{% trans 'PUT' %}</button>
                                 </div>
                             </fieldset>
                         </form>
                     </div>
                     {% endif %}
                 </div>
             </div>
             {% endif %}
	 </div>
	</div>
	</div>  <!-- 12 columns -->
</div>      <!-- row -->



<script>
	$(document).ready(function() {
	    $(document).foundation()
	    $(document).foundation('accordion', 'reflow');
		$("#post_form").ajaxForm(
	   		{
		   		success: function() {       
		           //window.opener.reload();
		           //window.close();
		           reload();
		           $('#myModal').foundation('reveal', 'close');
		           return false;
		   		},
		   		error:  function(XMLHttpRequest, textStatus, errorThrown)
		    	{
		        	if (textStatus == 'timeout') {
		            	alert('Timeout');
		           	}
		           	else {
		            	message = ''
		                for(entry in XMLHttpRequest.responseJSON) {      
		                	message += XMLHttpRequest.responseJSON[entry] + '\n'
		                }
		                alert(message);
		           }
		    	},	            
			    dataType: 'json',
			    timeout: 5000, // 5s
			}    
		);            
	                               
		// add required to reason
		var $reason = $("input[name='reason']");
		$reason.attr('required', 'true');
		var $div = $reason.parent();           
		$div.append($('<small>').addClass('error').text('Polje mora biti izpolnjeno'));        
		       
		// datetimepicker
		$("input[name='start']").fdatetimepicker();
		$("input[name='end']").fdatetimepicker();     
	});
</script>
